body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

canvas {
    border: 2px solid black;
}
#c {
  min-width: 500px;
}

#sidebar {
  min-width: 300px;
  display: inline-block;
}
.hidden{
  display: none !important;
}
.slider
{
    width: 200px;
}
.timetext
{
    width: 30px;
}