body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

canvas {
  border: 2px solid black;
  min-width: 500px;
}

.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 37px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 30px;
}
.playpause input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 18px 0 18px 30px;
}
#sidebar {
  min-width: 300px;
  display: inline-block;
}
.hidden{
  display: none !important;
}